<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SteamAccountSwitcher2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
          <!--  <section name="MessageEncryption" type="ArtisanCode.SimpleAesEncryption.SimpleAesEncryptionConfiguration, ArtisanCode.SimpleAesEncryption"/> -->
        </sectionGroup>
    </configSections>
  <!--  <MessageEncryption>
      <EncryptionKey KeySize="256" Key="OQPTu9Rf4u4vkywWy+GCBptmXeqC0e456SR3N31vutU="/>
    </MessageEncryption> -->
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <SteamAccountSwitcher2.Properties.Settings>
            <setting name="steamInstallDir" serializeAs="String">
                <value />
            </setting>
            <setting name="Top" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Left" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="Maximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="encryption" serializeAs="String">
                <value>Basic</value>
            </setting>
            <setting name="safemode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autostart" serializeAs="String">
                <value>False</value>
            </setting>
        </SteamAccountSwitcher2.Properties.Settings>
    </userSettings>
</configuration>